<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Runs existing hunt.py from shared volume</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H 11 * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
        <command>export MISP_URL=https://misp-core
export MISP_KEY="$(cat /shared/authkey.txt | tr -d '\r\n')"
export MISP_DAYS=3
SIEM_SEARCH_TERM=90
python3 /shared/hunt.py
cp *.csv /shared/</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
  <hudson.tasks.ArtifactArchiver>
    <artifacts>*.csv</artifacts>
    <allowEmptyArchive>false</allowEmptyArchive>
    <onlyIfSuccessful>false</onlyIfSuccessful>
    <fingerprint>false</fingerprint>
    <defaultExcludes>true</defaultExcludes>
    <caseSensitive>true</caseSensitive>
  </hudson.tasks.ArtifactArchiver>
　</publishers>
  <buildWrappers/>
</project>