<?xml version='1.1' encoding='UTF-8'?>
<project>
    <actions/>
    <description>Runs existing threatfeed-collector/cti.py from shared volume</description>
    <keepDependencies>false</keepDependencies>
    <properties/>
    <scm class="hudson.scm.NullSCM"/>
    <canRoam>true</canRoam>
    <disabled>false</disabled>
    <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <triggers>
        <hudson.triggers.TimerTrigger>
            <spec>H 10 * * *</spec>
        </hudson.triggers.TimerTrigger>
    </triggers>
    <concurrentBuild>false</concurrentBuild>
    <builders>
        <hudson.tasks.Shell>
            <command>export DAYS_BACK=7
                python3 /shared/threatfeed-collector/ioc_collect.py
                cp *.csv /shared/
                ls -1t /shared/ibh_query_*.csv 2>/dev/null | tail -n +30 | tr '\n' '\0' | xargs -0 rm -- || true
                ls -1t /shared/ioc_stats_*.csv 2>/dev/null | tail -n +30 | tr '\n' '\0' | xargs -0 rm -- || true
                ls -1t /shared/report_*.md     2>/dev/null | tail -n +30 | tr '\n' '\0' | xargs -0 rm -- || true
            </command>
        </hudson.tasks.Shell>
    </builders>
    <publishers>
        <hudson.tasks.ArtifactArchiver>
            <artifacts>*.csv</artifacts>
            <allowEmptyArchive>false</allowEmptyArchive>
            <onlyIfSuccessful>false</onlyIfSuccessful>
            <fingerprint>false</fingerprint>
            <defaultExcludes>true</defaultExcludes>
            <caseSensitive>true</caseSensitive>
        </hudson.tasks.ArtifactArchiver>
        <com.chikli.hudson.plugin.naginator.NaginatorPublisher plugin="naginator@1.530.vb_6d120f250b_1">
            <regexpForRerun></regexpForRerun>
            <rerunIfUnstable>false</rerunIfUnstable>
            <rerunMatrixPart>false</rerunMatrixPart>
            <checkRegexp>false</checkRegexp>
            <regexpForMatrixStrategy>TestParent</regexpForMatrixStrategy>
            <delay class="com.chikli.hudson.plugin.naginator.FixedDelay">
                <delay>300</delay>
            </delay>
            <maxSchedule>2</maxSchedule>
        </com.chikli.hudson.plugin.naginator.NaginatorPublisher>
    </publishers>
    <buildWrappers/>
</project>