<?xml version='1.1' encoding='UTF-8'?>
<project>
    <actions/>
    <description>Runs existing threatfeed-collector/ioc_collect.py from shared volume</description>
    <keepDependencies>false</keepDependencies>
    <properties/>
    <scm class="hudson.scm.NullSCM"/>
    <canRoam>true</canRoam>
    <disabled>false</disabled>
    <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <triggers>
        <hudson.triggers.TimerTrigger>
            <spec>H 10 * * *</spec>
        </hudson.triggers.TimerTrigger>
    </triggers>
    <concurrentBuild>false</concurrentBuild>
    <builders>
        <hudson.tasks.Shell>
            <command>python3 /shared/threatfeed-collector/ioc_collect.py
                cp *.csv /shared/
                ls -1t /shared/ibh_query_*.csv 2>/dev/null | tail -n +30 | tr '\n' '\0' | xargs -0 rm -- || true
                ls -1t /shared/ioc_stats_*.csv 2>/dev/null | tail -n +30 | tr '\n' '\0' | xargs -0 rm -- || true
                ls -1t /shared/report_*.md     2>/dev/null | tail -n +30 | tr '\n' '\0' | xargs -0 rm -- || true
            </command>
        </hudson.tasks.Shell>
    </builders>
    <publishers>
        <hudson.tasks.BuildTrigger>
          <childProjects>hunt-job</childProjects>
          <threshold>
            <name>SUCCESS</name>
            <ordinal>0</ordinal>
            <color>BLUE</color>
            <completeBuild>true</completeBuild>
          </threshold>
        </hudson.tasks.BuildTrigger>
        <hudson.tasks.ArtifactArchiver>
            <artifacts>*.csv</artifacts>
            <allowEmptyArchive>false</allowEmptyArchive>
            <onlyIfSuccessful>false</onlyIfSuccessful>
            <fingerprint>false</fingerprint>
            <defaultExcludes>true</defaultExcludes>
            <caseSensitive>true</caseSensitive>
        </hudson.tasks.ArtifactArchiver>
    </publishers>
    <buildWrappers/>
</project>